nav{
ul{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 70%;
    margin: 0 auto;
    
    
    h1{
        margin-top: 25px;
        font-family: allura;
        font-size: 3rem;
        margin-right: 50px;
       
    }
    li{
        list-style: none;
        margin-top: 45px;
        font-family: roboto;
        font-weight: 700;
        font-size: 0.9rem;
        transition: 0.8s;
        margin-bottom: 0;
        

        height: 17px;
        padding: 10px;

        &:hover{
            scale: 1.4;
            cursor: pointer;
        }
        
      
    }
    i{
        color: $white1;
        margin-left: 20px;
        font-size: 1rem;
        margin-top: 45px;
        transition: 0.5s;
        
        height: 15px;
        padding: 5px;

        &:hover{
           scale: 1.3;
            cursor: pointer;
            border: solid 1px black;
            border-radius: 100px;
            background: $black2;
        }
    }
}
}

nav#second{
    ul{
        display: flex;
        width: 50%;
        li{
            font-size: 1.2rem;
            width: 90%;
            text-decoration: underline 1px rgb(245, 239, 239);
            text-underline-offset: 15px;
        }
    }
}

li:hover{
    scale: 1.2;
    cursor: pointer;
}