section#store {

    .discover-store {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background: $white1;

        .store-left {
            text-align: center;
            border: dashed 1px;
            color: $doré;
            margin: 20px;

            h3 {
                font-family: allura;
                font-size: 2.3rem;
                font-weight: 500;
                color: $doré;
                margin-top: 40px;

            }

            h4#store {
                margin-top: -15px;
                font-size: 1.5rem;
                font-family: poppins;
                font-weight: 900;
                text-transform: uppercase;
                color: black;
            }

            img#couvert2 {
                margin-top: 35px;
                height: 35px;
            }

            p {
                font-size: 1.2rem;
                line-height: 25px;
                color: $black;
                font-family: roboto;
                width: 90%;
                margin: 0 auto;
                margin-top: 30px;
            }

            .chef {
                img {
                    border-radius: 100px;
                    height: 90px;
                    margin-top: 30px;
                }

                h4#russel {
                    margin-top: 10px;
                    font-size: 1.2rem;
                    font-weight: 100;
                    font-family: poppins;
                    color: $black;
                }

                p {
                    margin-top: 0px;
                    margin-bottom: 30px;
                    font-family: roboto;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: 700;
                    color: rgba(138, 137, 137, 0.493);
                }
            }
        }

        .store-right {
            background: url(/Assets/img/store-01.jpg);
            background-position: center;

        }

    }
}

section#discover {

    .top-discover {
        background-color: rgba(14, 13, 13, 0.87);
        height: 490px;
        text-align: center;

        h5 {
            padding-top: 50px;
            font-family: allura;
            font-size: 2.5rem;
            color: $doré;
            font-weight: 100;
            padding-bottom: 50px;
        }

        img#plate2 {
            height: 40px;
        }
    }

    .back-container {
        width: 100%;
        background: url(/Assets/img/bg-menu-01.jpg);
        position: relative;
        height: 810px;
        background-size: cover;

    }

    .food-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        background: rgb(241, 239, 239);
        width: 52%;
        position: absolute;
        margin-top: -180px;
        margin-left: 457px;
        padding-bottom: 18px;



        .food {
            display: grid;
            grid-template-columns: 25% 60% 15%;
            width: 90%;
            margin: auto;
            height: 205px;
            border-bottom: dashed 1px rgba(128, 128, 128, 0.671);

            .left-it {
                width: 25%;

                img {
                    border-radius: 100px;
                    height: 112px;
                    margin-top: 55px;
                }

            }

            .right-it {
                width: 85%;
                margin-top: 78px;
                margin-left: 10px;


            }

            h6 {
                font-size: 1rem;
                font-family: roboto;
                text-transform: uppercase;

            }

            p#recipe {
                margin-top: 8px;
                font-size: 1.2rem;
                font-family: roboto;
                font-weight: 100;
            }


            .price {
                margin-top: 100px;
                margin-left: 12px;
                font-size: 1.5rem;
                width: 100%;
                font-family: roboto;
                font-weight: 700;
                color: $doré;
            }

        }
    }
}

section#booking-event {
    background: rgba(14, 13, 13, 0.87);
    height: 880px;


    .booking-container {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 69%;
        margin: auto;
        height: 600px;
        padding-top: 100px;




        .left-booking-container-big {
            background: $black;
            color: white;
            text-align: center;
            padding: 30px;

            .left-booking-container {
                border: dashed white 1px;

                h1 {
                    margin-top: 25px;
                    color: $doré;
                    font-size: 3rem;
                    font-weight: 100;
                    font-family: allura;

                }

                h2 {
                    font-family: poppins;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 3px;
                    margin-top: -35px;
                }

                img#couvert {
                    margin-top: 35px;

                }

                .mon-fri {
                    margin-top: 92px;

                    h2 {
                        font-size: 1.3rem;
                        font-family: poppins;
                        font-weight: 100;
                        color: $doré;
                        margin-bottom: 20px;
                    }

                    p {
                        font-size: 1rem;
                        font-family: roboto;
                        line-height: 20px;
                        margin-top: -4px;
                    }
                }

                .Sat-Sun {
                    margin-top: 47px;

                    h3 {
                        font-size: 1.3rem;
                        font-family: poppins;
                        font-weight: 100;
                        color: $doré;
                        margin-bottom: 20px;

                    }

                    p {
                        margin-top: -2px;
                        font-family: roboto;
                    }

                    p#phone {
                        margin-top: 50px;
                        color: $doré;
                        font-family: roboto;
                        font-weight: 900;
                        font-size: 1.3rem;
                        margin-bottom: 48px;
                    }


                }

            }

        }

        .right-booking-container {
            background: $white1;
            text-align: center;

            h4 {
                font-family: allura;
                font-size: 3rem;
                font-weight: 100;
                color: $doré;
                margin-top: 95px;
            }

            h5 {

                font-family: poppins;
                text-transform: uppercase;
                font-size: 2.2rem;
                margin-top: -18px;
            }

            img#plate-booking {
                margin-top: 35px;

            }



        }
    }
}

section#event {
    height: 750px;
    background: $black2;

    .event-title {
        text-align: center;

        h1 {
            margin-top: 180px;
            font-size: 3rem;
            font-family: allura;
            color: $doré;
            font-weight: 100;


        }

        h2 {
            margin-top: -15px;
            font-size: 2.5rem;
            font-family: poppins;
            color: $white1;
            font-weight: 700;
            letter-spacing: 2px;

        }

        img#plate-event {
            margin-top: 40px;
            height: 38px;
        }
    }

    .event-container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "one two"
            "three two";
        width: 65%;
        height: 450px;
        gap: 25px;
        margin: 40px auto;

        button#date {
           
            border-radius: 0px;
            display: block;
            margin: 66px auto;
            padding: 22px 33px;
            border: none;
            font-size: 1rem;
            color: $white1;
            background: black;
    
          

            p#day {
                font-size: 2.2rem;
                font-family: roboto;
                font-weight: 700;
                letter-spacing: 0px;
            }

            p#month {
                font-family: roboto;
                font-weight: 100;
                text-transform: none;
                letter-spacing: 0px;
                font-size: 1.3rem;
                margin-top: -5px;
            }



        }




        .first-container {
            display: grid;
            grid-template-columns: 39% 61%;
            grid-auto-rows: auto;
            width: 98%;
            margin-left: 15px;

            .img {
                background: url(/Assets/img/event-01.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                height: 235px;


            }

            .event1 {
                background: rgb(241, 239, 239);
                width: 100%;

                h1 {
                    font-size: 1.5rem;
                    font-weight: 100;
                    padding: 20px;
                    margin-top: 20px;
                    font-family: roboto;
                    margin-left: 15px;
                }

                p {
                    margin-top: 10px;
                    font-size: 1.1rem;
                    font-family: roboto;
                    color: rgba(128, 128, 128, 0.788);
                    margin-left: 20px;
                    letter-spacing: 2px;

                    i {
                        font-size: 0.8rem;
                    }
                }

                button#eventbtn {
                    margin-top: 30px;
                    background: none;
                    color: $black;

                    font-weight: 100;
                    font-size: 1rem;
                    margin-left: 20px;
                    border: none;
                    font-weight: 600;
                    color: rgb(88, 88, 88);
                    letter-spacing: 2px;
                    transition: 0.6s;
                    
                    &:hover{
        
                        cursor: pointer;
                        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);;
                        width: 80%;
                        margin-left: 12px;
                        text-align: start;
                        animation: hoveranim 1s ease-in-out ;
                        border-radius: 50px;
                        padding: 8px;
                        margin-top: 22px;

                        @keyframes hoveranim {
                            0% {
                              width: 30%;
                            }
                            100% {
                              width: 80%;
                            }
                          }
                    }
                 
                }

            }
        }

    }

    .second-container {
        background: url(/Assets/img/event-03.jpg);
        grid-area: two;


        .text2cont {
            background: rgb(241, 239, 239);
            margin: 30px;



        }

        button#date {
            margin-top: 30px;

            p#month {
                margin-top: -25px;
            }
            
        }

        .event2 {
            text-align: center;
            background-color: rgb(241, 239, 239);

            h1 {
                font-family: roboto;
                font-size: 1.6rem;
                width: 75%;
                margin: 0 auto;
                font-weight: 100;
                margin-top: -15px;
                letter-spacing: 1px;
            }

            p {
                margin-top: 30px;
                font-size: 1.1rem;
                font-family: roboto;
                color: rgba(128, 128, 128, 0.788);
                margin-left: 20px;
                letter-spacing: 2px;

                i {
                    font-size: 0.8rem;
                }
            }

            button#eventbutton {
                
                    margin-top: 95px;
                    background: none;
                    color: $black;
                    
                    font-weight: 100;
                    font-size: 1rem;
                    
                    border: none;
                    font-weight: 600;
                    color: rgb(88, 88, 88);
                    letter-spacing: 2px;
                    margin-bottom: 50px;
                    transition: 0.6s;
                    &:hover{
        
                        cursor: pointer;
                        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);;
                        width: 80%;
                        text-align: center;
                        animation: hoveranim 1s ease-in-out ;
                        border-radius: 50px;
                        padding: 8px;
                        margin-top: 87px;
                        margin-bottom: 42px;

                        @keyframes hoveranim {
                            0% {
                              width: 30%;
                            }
                            100% {
                              width: 80%;
                            }
                          }
                    }
                }
            }

        }
    }

    .third-container {
        display: grid;
        grid-template-columns: 39% 61%;
        grid-auto-rows: auto;
        width: 98%;
        margin-left: 15px;

        .img {
            background: url(/Assets/img/event-02.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            height: 235px;
            grid-area: "three";
        }

        button#date {
            p#month {
                margin-top: -25px;
            }

        }



        .event3 {
            background: rgb(241, 239, 239);
            height: 235px;
            width: 100%;

            h1 {
                font-size: 1.5rem;
                font-weight: 100;
                padding: 20px;
                margin-top: 20px;
                font-family: roboto;
                margin-left: 15px;
            }

            p {
                margin-top: 10px;
                font-size: 1.1rem;
                font-family: roboto;
                color: rgba(128, 128, 128, 0.788);
                margin-left: 20px;
                letter-spacing: 2px;

                i {
                    font-size: 0.8rem;
                }
            }

            button {
                margin-top: 30px;
                    background: none;
                    color: $black;
                    margin-left: -20px;
                    font-weight: 100;
                    font-size: 1rem;
                    margin-left: 20px;
                    border: none;
                    font-weight: 600;
                    color: rgb(88, 88, 88);
                    letter-spacing: 2px;
                    transition: 0.6s;
                    &:hover{
        
                        cursor: pointer;
                        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);;
                        width: 80%;
                        margin-left: 12px;
                        text-align: start;
                        animation: hoveranim 1s ease-in-out ;
                        border-radius: 50px;
                        padding: 8px;
                        margin-top: 22px;

                        @keyframes hoveranim {
                            0% {
                              width: 30%;
                            }
                            100% {
                              width: 80%;
                            }
                          }
                    }
            }
        }
    }





section#pub-ceo {
    background: $black2;
    height: 430px;
    position: relative;
    

    .pub1{
        width: 65%;
        top:320px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: $white1;
        height: 95%;
        position: absolute;
       
       

        img{
           
            border-radius: 100px;
            height: 70px;
            margin: -40px auto -30px;
            display: block;
           
        }
        }

        p {
            font-family: roboto;
            font-size: 1.2rem;
            line-height: 40px;
            margin-top: 80px;
            margin: 80px auto 0px;
            text-align: center;
            width: 90%;
        }

        h1 {
            margin-top: 40px;
            text-align: center;
            font-size: 2rem;
            font-weight: 100;
            font-family: roboto;
        }

        h2 {
            margin-top: 20px;
            text-align: center;
            font-family: roboto;
            font-weight: 100;
            font-size: 1.1rem;
            color: $doré;
            
        }

        
        
        }
    
