
  @import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

  $white1:rgb(241, 239, 239);
  $doré: rgba(192, 115, 43, 0.603);
  $black:rgb(15, 15, 15);

*{margin: 0;
    padding: 0;
    }