@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(241, 239, 239);
}

.header-container {
  text-align: center;
  margin-top: 200px;
}
@media screen and (max-width: 850px) {
  .header-container {
    margin-top: 25px;
  }
}
.header-container h2 {
  font-family: allura;
  font-size: 3.5rem;
  color: rgba(192, 115, 43, 0.603);
  font-weight: 200;
  margin: 0;
}
@media screen and (max-width: 850px) {
  .header-container h2 {
    font-size: 2.5rem;
  }
}
.header-container h3 {
  margin-top: -35px;
  font-size: 4rem;
  color: rgb(241, 239, 239);
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 15px;
}
@media screen and (max-width: 850px) {
  .header-container h3 {
    font-size: 2.5rem;
    margin-top: 30px;
  }
}
.header-container img {
  margin-top: 40px;
  color: rgb(241, 239, 239);
  height: 30px;
}
.header-container p {
  margin-top: 42px;
  color: rgb(241, 239, 239);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: roboto;
  letter-spacing: 8px;
  font-weight: 400;
}

.slider {
  width: 100%;
  height: 99vh;
  -webkit-animation: animate 20s ease-in-out infinite;
          animation: animate 20s ease-in-out infinite;
  background-repeat: no-repeat;
}
@-webkit-keyframes animate {
  0%, 100% {
    background: url(../img/bg-slider-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  33% {
    background: url(../img/bg-slider-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  66% {
    background: url(../img/bg-slider-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@keyframes animate {
  0%, 100% {
    background: url(../img/bg-jpg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  33% {
    background: url(../img/bg--05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  66% {
    background: url(../img/bg-slider-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 1050px) {
  @-webkit-keyframes animate {
    0%, 100% {
      background: url(./Assets/img/bg-slider-06.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  @keyframes animate {
    0%, 100% {
      background: url(../img/bg-slider-06.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.slider nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  .slider nav ul {
    width: 70%;
  }
}
.slider nav ul h1 {
  margin-top: 25px;
  font-family: allura;
  font-size: 3rem;
  margin-right: 50px;
}
.slider nav ul li {
  list-style: none;
  margin-top: 45px;
  font-family: roboto;
  font-weight: 700;
  font-size: 0.9rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-bottom: 0;
  height: 17px;
  padding: 10px;
}
@media screen and (max-width: 950px) {
  .slider nav ul li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 870px) {
  .slider nav ul li {
    display: none;
  }
}
.slider nav ul li:hover {
  scale: 1.4;
  cursor: pointer;
}
.slider nav ul i {
  color: rgb(241, 239, 239);
  margin-left: 20px;
  font-size: 1rem;
  margin-top: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 15px;
  padding: 5px;
}
@media screen and (max-width: 850px) {
  .slider nav ul i {
    width: 20px;
    text-align: end;
    padding: 0;
  }
}
.slider nav ul i:hover {
  scale: 1.3;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 100px;
  background: rgba(14, 13, 13, 0.87);
}

nav#second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  nav#second ul {
    width: 80%;
  }
}
nav#second ul li {
  font-size: 1.2rem;
  width: 90%;
  -webkit-text-decoration: underline 1px rgb(245, 239, 239);
          text-decoration: underline 1px rgb(245, 239, 239);
  text-underline-offset: 15px;
  font-family: roboto;
  font-weight: 100;
  list-style: none;
  margin-top: 40px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media screen and (max-width: 850px) {
  nav#second ul li {
    font-size: 1rem;
    width: 80%;
  }
}
@media screen and (max-width: 1050px) {
  nav#second ul li {
    font-size: 0.9rem;
  }
}

li:hover {
  scale: 1.2;
  cursor: pointer;
}

section#store .discover-store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background: rgb(241, 239, 239);
}
@media screen and (max-width: 850px) {
  section#store .discover-store {
    display: block;
  }
}
section#store .discover-store .store-left {
  text-align: center;
  border: dashed 1px;
  color: rgba(223, 146, 74, 0.856);
  margin: 20px;
}
section#store .discover-store .store-left h3 {
  font-family: allura;
  font-size: 2.3rem;
  font-weight: 500;
  color: rgba(223, 146, 74, 0.856);
  margin-top: 40px;
}
section#store .discover-store .store-left h4#store {
  margin-top: -15px;
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}
section#store .discover-store .store-left img#couvert2 {
  margin-top: 35px;
  height: 35px;
}
section#store .discover-store .store-left p {
  font-size: 1.2rem;
  line-height: 25px;
  color: rgb(15, 15, 15);
  font-family: roboto;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
section#store .discover-store .store-left .chef img {
  border-radius: 100px;
  height: 90px;
  margin-top: 30px;
}
section#store .discover-store .store-left .chef h4#russel {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: poppins;
  color: rgb(15, 15, 15);
}
section#store .discover-store .store-left .chef p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(138, 137, 137, 0.493);
}
section#store .discover-store .store-right {
  background: url(../img/store-01.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 850px) {
  section#store .discover-store .store-right {
    display: none;
  }
}

section#discover .top-discover {
  background-color: rgba(14, 13, 13, 0.87);
  height: 490px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  section#discover .top-discover {
    height: 800px;
  }
}
section#discover .top-discover h5 {
  padding-top: 50px;
  font-family: allura;
  font-size: 2.5rem;
  color: rgba(223, 146, 74, 0.856);
  font-weight: 100;
  padding-bottom: 50px;
}
section#discover .top-discover img#plate2 {
  height: 40px;
}
section#discover .back-container {
  width: 100%;
  background: url(../img/bg-menu-01.jpg);
  position: relative;
  height: 810px;
  background-size: cover;
}
@media screen and (max-width: 1050px) {
  section#discover .back-container {
    height: 1100px;
  }
}
@media screen and (max-width: 850px) {
  section#discover .back-container {
    height: 900px;
  }
}

.food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: rgb(241, 239, 239);
  width: 52%;
  position: absolute;
  top: -180px;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
}
@media screen and (max-width: 1650px) {
  .food-container {
    top: -180px;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
  }
}
@media screen and (max-width: 850px) {
  .food-container {
    margin-top: -300px;
    height: 1300px;
  }
}
@media screen and (max-width: 1050px) {
  .food-container {
    display: block;
    width: 80%;
  }
}

.food {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  width: 90%;
  margin: auto;
  height: 205px;
  border-bottom: dashed 1px rgba(128, 128, 128, 0.671);
}
@media screen and (max-width: 1050px) {
  .food {
    height: 150px;
  }
}
@media screen and (max-width: 850px) {
  .food {
    margin-top: 0;
  }
}
.food .left-it {
  width: 25%;
}
.food .left-it img {
  border-radius: 100px;
  height: 112px;
  margin-top: 55px;
}
@media screen and (max-width: 1750px) {
  .food .left-it img {
    height: 80px;
  }
}
@media screen and (max-width: 1050px) {
  .food .left-it img {
    height: 80px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 425px) {
  .food .left-it img {
    height: 60px;
    margin-top: 40px;
  }
}
.food .right-it {
  width: 85%;
  margin-top: 78px;
  margin-left: 10px;
}
@media screen and (max-width: 1050px) {
  .food .right-it {
    margin-top: 30px;
  }
}
.food h6 {
  font-size: 1rem;
  font-family: roboto;
  text-transform: uppercase;
}
@media screen and (max-width: 1050px) {
  .food h6 {
    font-size: 0.9rem;
  }
}
.food p#recipe {
  margin-top: 8px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 100;
}
@media screen and (max-width: 1050px) {
  .food p#recipe {
    font-size: 1rem;
  }
}
.food .price {
  margin-top: 100px;
  margin-left: 12px;
  font-size: 1.5rem;
  width: 100%;
  font-family: roboto;
  font-weight: 700;
  color: rgba(223, 146, 74, 0.856);
}
@media screen and (max-width: 850px) {
  .food .price {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1050px) {
  .food .price {
    margin-top: 70px;
  }
}

section#booking-event {
  background: rgba(14, 13, 13, 0.87);
  height: 880px;
}
@media screen and (max-width: 850px) {
  section#booking-event {
    height: 1332px;
  }
}
@media screen and (max-width: 850px) {
  section#booking-event {
    height: 1413px;
  }
}
section#booking-event .booking-container {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 69%;
  margin: auto;
  height: 600px;
  padding-top: 100px;
}
@media screen and (max-width: 1050px) {
  section#booking-event .booking-container {
    grid-template-columns: 40% 70%;
  }
}
@media screen and (max-width: 970px) {
  section#booking-event .booking-container {
    margin-bottom: 180px;
  }
}
@media screen and (max-width: 850px) {
  section#booking-event .booking-container {
    display: block;
    height: auto;
    margin: 0 auto;
    padding-top: 60px;
    width: 90%;
  }
}
section#booking-event .booking-container .left-booking-container-big {
  background: rgb(15, 15, 15);
  color: white;
  text-align: center;
  padding: 30px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container {
  border: dashed white 1px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container h1 {
  margin-top: 25px;
  color: rgba(223, 146, 74, 0.856);
  font-size: 3rem;
  font-weight: 100;
  font-family: allura;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container h2 {
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: -35px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container img#couvert {
  margin-top: 35px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .mon-fri {
  margin-top: 92px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .mon-fri h2 {
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: 100;
  color: rgba(223, 146, 74, 0.856);
  margin-bottom: 20px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .mon-fri p {
  font-size: 1rem;
  font-family: roboto;
  line-height: 20px;
  margin-top: -4px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .Sat-Sun {
  margin-top: 47px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .Sat-Sun h3 {
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: 100;
  color: rgba(223, 146, 74, 0.856);
  margin-bottom: 20px;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .Sat-Sun p {
  margin-top: -2px;
  font-family: roboto;
}
section#booking-event .booking-container .left-booking-container-big .left-booking-container .Sat-Sun p#phone {
  margin-top: 50px;
  color: rgba(223, 146, 74, 0.856);
  font-family: roboto;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 48px;
}
section#booking-event .booking-container .right-booking-container {
  background: rgb(241, 239, 239);
  text-align: center;
}
@media screen and (max-width: 850px) {
  section#booking-event .booking-container .right-booking-container {
    height: 600px;
  }
}
@media screen and (max-width: 550px) {
  section#booking-event .booking-container .right-booking-container {
    height: 650px;
  }
}
section#booking-event .booking-container .right-booking-container h4 {
  font-family: allura;
  font-size: 3rem;
  font-weight: 100;
  color: rgba(223, 146, 74, 0.856);
  margin-top: 95px;
}
@media screen and (max-width: 850px) {
  section#booking-event .booking-container .right-booking-container h4 {
    margin: 0 auto;
  }
}
section#booking-event .booking-container .right-booking-container h5 {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-top: -18px;
}
section#booking-event .booking-container .right-booking-container img#plate-booking {
  margin-top: 35px;
}

section#event {
  height: 750px;
  background: rgba(14, 13, 13, 0.87);
}
@media screen and (max-width: 970px) {
  section#event {
    display: none;
  }
}
section#event .event-title {
  text-align: center;
}
section#event .event-title h1 {
  margin-top: 180px;
  font-size: 3rem;
  font-family: allura;
  color: rgba(223, 146, 74, 0.856);
  font-weight: 100;
}
section#event .event-title h2 {
  margin-top: -15px;
  font-size: 2.5rem;
  font-family: poppins;
  color: rgb(241, 239, 239);
  font-weight: 700;
  letter-spacing: 2px;
}
section#event .event-title img#plate-event {
  margin-top: 40px;
  height: 38px;
}
section#event .event-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "one two" "three two";
  width: 65%;
  height: 450px;
  gap: 25px;
  margin: 40px auto;
}
section#event .event-container button#date {
  border-radius: 0px;
  display: block;
  margin: 66px auto;
  padding: 22px 33px;
  border: none;
  font-size: 1rem;
  color: rgb(241, 239, 239);
  background: black;
}
section#event .event-container button#date p#day {
  font-size: 2.2rem;
  font-family: roboto;
  font-weight: 700;
  letter-spacing: 0px;
}
section#event .event-container button#date p#month {
  font-family: roboto;
  font-weight: 100;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 1.3rem;
  margin-top: -5px;
}
section#event .event-container .first-container {
  display: grid;
  grid-template-columns: 39% 61%;
  grid-auto-rows: auto;
  width: 98%;
  margin-left: 15px;
}
section#event .event-container .first-container .img {
  background: url(../img/event-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 235px;
}
section#event .event-container .first-container .event1 {
  background: rgb(244, 239, 239);
  width: 100%;
}
section#event .event-container .first-container .event1 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 20px;
  margin-top: 20px;
  font-family: roboto;
  margin-left: 15px;
}
section#event .event-container .first-container .event1 p {
  margin-top: 10px;
  font-size: 1.1rem;
  font-family: roboto;
  color: rgba(128, 128, 128, 0.788);
  margin-left: 20px;
  letter-spacing: 2px;
}
section#event .event-container .first-container .event1 p i {
  font-size: 0.8rem;
}
section#event .event-container .first-container .event1 button#eventbtn {
  margin-top: 30px;
  background: none;
  color: rgb(15, 15, 15);
  font-weight: 100;
  font-size: 1rem;
  margin-left: 20px;
  border: none;
  font-weight: 600;
  color: rgb(88, 88, 88);
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
section#event .event-container .first-container .event1 button#eventbtn:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  width: 80%;
  margin-left: 12px;
  text-align: start;
  -webkit-animation: hoveranim 1s ease-in-out;
          animation: hoveranim 1s ease-in-out;
  border-radius: 50px;
  padding: 8px;
  margin-top: 22px;
}
@-webkit-keyframes hoveranim {
  0% {
    width: 30%;
  }
  100% {
    width: 80%;
  }
}
@keyframes hoveranim {
  0% {
    width: 30%;
  }
  100% {
    width: 80%;
  }
}
section#event .second-container {
  background: url(../img/event-03.jpg);
  grid-area: two;
}
section#event .second-container .text2cont {
  background: rgb(241, 239, 239);
  margin: 30px;
  height: 85%;
}
section#event .second-container button#date {
  margin-top: 30px;
}
section#event .second-container button#date p#month {
  margin-top: -25px;
}
section#event .second-container .event2 {
  text-align: center;
  background-color: rgb(241, 239, 239);
}
section#event .second-container .event2 h1 {
  font-family: roboto;
  font-size: 1.6rem;
  width: 75%;
  margin: 0 auto;
  font-weight: 100;
  margin-top: -15px;
  letter-spacing: 1px;
}
@media screen and (max-width: 1100px) {
  section#event .second-container .event2 h1 {
    font-size: 1.4rem;
  }
}
section#event .second-container .event2 p {
  margin-top: 30px;
  font-size: 1.1rem;
  font-family: roboto;
  color: rgba(128, 128, 128, 0.788);
  margin-left: 20px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1100px) {
  section#event .second-container .event2 p {
    font-size: 1rem;
  }
}
section#event .second-container .event2 p i {
  font-size: 0.8rem;
}
section#event .second-container .event2 button#eventbutton {
  margin-top: 70px;
  background: none;
  color: rgb(15, 15, 15);
  font-weight: 100;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  color: rgb(88, 88, 88);
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-bottom: 30px;
  height: 100%;
}
section#event .second-container .event2 button#eventbutton:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  width: 80%;
  text-align: center;
  -webkit-animation: hoveranim 1s ease-in-out;
          animation: hoveranim 1s ease-in-out;
  border-radius: 50px;
  padding: 8px;
}
@keyframes hoveranim {
  0% {
    width: 30%;
  }
  100% {
    width: 80%;
  }
}

.third-container {
  display: grid;
  grid-template-columns: 39% 61%;
  grid-auto-rows: auto;
  width: 98%;
  margin-left: 15px;
}
.third-container .img {
  background: url(../img/event-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 235px;
  grid-area: "three";
}
.third-container button#date p#month {
  margin-top: -25px;
}
.third-container .event3 {
  background: rgb(241, 239, 239);
  height: 235px;
  width: 100%;
}
.third-container .event3 h1 {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 20px;
  margin-top: 20px;
  font-family: roboto;
  margin-left: 15px;
}
.third-container .event3 p {
  margin-top: 10px;
  font-size: 1.1rem;
  font-family: roboto;
  color: rgba(128, 128, 128, 0.788);
  margin-left: 20px;
  letter-spacing: 2px;
}
.third-container .event3 p i {
  font-size: 0.8rem;
}
.third-container .event3 button {
  margin-top: 30px;
  background: none;
  color: rgb(15, 15, 15);
  margin-left: -20px;
  font-weight: 100;
  font-size: 1rem;
  margin-left: 20px;
  border: none;
  font-weight: 600;
  color: rgb(88, 88, 88);
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.third-container .event3 button:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(lightgrey), color-stop(1%, lightgrey), color-stop(26%, #e0e0e0), color-stop(48%, #efefef), color-stop(75%, #d9d9d9), to(#bcbcbc));
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  width: 80%;
  margin-left: 12px;
  text-align: start;
  -webkit-animation: hoveranim 1s ease-in-out;
          animation: hoveranim 1s ease-in-out;
  border-radius: 50px;
  padding: 8px;
  margin-top: 22px;
}
@keyframes hoveranim {
  0% {
    width: 30%;
  }
  100% {
    width: 80%;
  }
}

section#pub-ceo {
  background: rgba(14, 13, 13, 0.87);
  height: 430px;
  position: relative;
}
@media screen and (max-width: 970px) {
  section#pub-ceo {
    margin-top: 37px;
    height: 330px;
  }
}
section#pub-ceo .pub1 {
  width: 65%;
  top: 320px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(241, 239, 239);
  height: 95%;
  position: absolute;
}
@media screen and (max-width: 1100px) {
  section#pub-ceo .pub1 {
    height: 500px;
  }
}
@media screen and (max-width: 970px) {
  section#pub-ceo .pub1 {
    height: 500px;
  }
}
@media screen and (max-width: 850px) {
  section#pub-ceo .pub1 {
    height: 600px;
    margin-top: -200px;
  }
}
section#pub-ceo .pub1 img {
  border-radius: 100px;
  height: 70px;
  margin: -40px auto -30px;
  display: block;
}
@media screen and (max-width: 850px) {
  section#pub-ceo .pub1 img {
    height: 50px;
  }
}
section#pub-ceo p {
  font-family: roboto;
  font-size: 1.2rem;
  line-height: 40px;
  margin-top: 80px;
  margin: 80px auto 0px;
  text-align: center;
  width: 90%;
}
@media screen and (max-width: 850px) {
  section#pub-ceo p {
    font-size: 1rem;
    line-height: 25px;
    margin-top: 50px;
  }
}
section#pub-ceo h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  font-family: roboto;
}
section#pub-ceo h2 {
  margin-top: 20px;
  text-align: center;
  font-family: roboto;
  font-weight: 100;
  font-size: 1.1rem;
  color: rgba(223, 146, 74, 0.856);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 130px;
  row-gap: 38px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  margin-top: 50px;
  width: 68%;
}
@media screen and (max-width: 1700px) {
  form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1650px) {
  form {
    display: block;
  }
}

select {
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(128, 128, 128, 0.63) 1px;
  padding: 10px;
  background: rgb(241, 239, 239);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

input {
  font-size: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid rgba(128, 128, 128, 0.63) 1px;
  padding: 10px;
  background: rgb(241, 239, 239);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 850px) {
  input {
    padding: 20px;
  }
}

.book-now {
  margin-top: 50px;
}
.book-now button {
  font-size: 1rem;
  font-weight: 700;
  background: rgba(14, 13, 13, 0.87);
  color: rgb(247, 245, 245);
  padding: 21px 45px;
  border-radius: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media screen and (max-width: 850px) {
  .book-now button {
    font-size: 0.8rem;
    padding: 10px 25px;
  }
}
.book-now button:hover {
  scale: 1.2;
  cursor: pointer;
}

footer .map {
  height: 440px;
  background: url(../img/gmap.jpg);
}

.baniere-footer {
  background: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 330PX;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
}
@media screen and (max-width: 850px) {
  .baniere-footer {
    display: block;
    height: 355px;
    background: rgb(33, 32, 30);
  }
}
.baniere-footer .end-text {
  color: white;
  margin-left: 300px;
  margin-right: 50px;
  font-size: 1.2rem;
  font-family: roboto;
  line-height: 35px;
}
@media screen and (max-width: 1400px) {
  .baniere-footer .end-text {
    margin-left: 50px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .baniere-footer .end-text {
    display: none;
  }
}
.baniere-footer .end-text h1 {
  color: rgba(223, 146, 74, 0.856);
  font-family: allura;
  margin-top: 80px;
  font-size: 3rem;
  font-weight: 100;
}
.baniere-footer .end-text p {
  margin-top: 20px;
}
.baniere-footer .contact {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.baniere-footer .contact .news {
  margin-left: 75px;
  margin-top: 80px;
}
@media screen and (max-width: 850px) {
  .baniere-footer .contact .news {
    margin-left: 5px;
  }
}
.baniere-footer .contact .news h2 {
  font-family: poppins;
  color: rgb(241, 239, 239);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.2rem;
}
.baniere-footer .contact .news input {
  margin-top: 10px;
  width: 290px;
  background: none;
  border: solid 1px rgba(223, 146, 74, 0.856);
  font-size: 1rem;
  color: rgb(241, 239, 239);
}
@media screen and (max-width: 850px) {
  .baniere-footer .contact .news input {
    width: 80%;
  }
}
.baniere-footer .contact .follows {
  margin-left: 75px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 850px) {
  .baniere-footer .contact .follows {
    margin-left: 5px;
  }
}
.baniere-footer .contact .follows h3 {
  color: rgb(241, 239, 239);
  font-family: roboto;
  font-weight: 700;
  font-size: 1.1rem;
}
.baniere-footer .contact .follows i {
  padding-left: 45px;
  color: gray;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media screen and (max-width: 850px) {
  .baniere-footer .contact .follows i {
    padding-left: 20px;
  }
}
.baniere-footer .contact .follows i:hover {
  scale: 1.2;
  color: white;
}/*# sourceMappingURL=index.css.map */