@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  margin-top: 200px;
}
.header-container h2 {
  font-family: allura;
  font-size: 3.5rem;
  color: rgba(192, 115, 43, 0.603);
  font-weight: 200;
  margin: 0;
}
.header-container h3 {
  margin-top: -35px;
  font-size: 4rem;
  color: rgb(241, 239, 239);
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.header-container img {
  margin-top: 40px;
  color: rgb(241, 239, 239);
  height: 30px;
}
.header-container p {
  margin-top: 42px;
  color: rgb(241, 239, 239);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: roboto;
  letter-spacing: 8px;
  font-weight: 400;
}

.slider {
  width: 100%;
  height: 99vh;
  -webkit-animation: animate 20s ease-in-out infinite;
          animation: animate 20s ease-in-out infinite;
  background-size: contain;
}

@-webkit-keyframes animate {
  0%, 100% {
    background: url(/Assets/img/bg-slider-01.jpg);
  }
  33% {
    background: url(/Assets/img/bg-slider-05.jpg);
  }
  66% {
    background: url(/Assets/img/bg-slider-06.jpg);
  }
}

@keyframes animate {
  0%, 100% {
    background: url(/Assets/img/bg-slider-01.jpg);
  }
  33% {
    background: url(/Assets/img/bg-slider-05.jpg);
  }
  66% {
    background: url(/Assets/img/bg-slider-06.jpg);
  }
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  width: 70%;
  margin: 0 auto;
}
nav ul h1 {
  margin-top: 25px;
  font-family: allura;
  font-size: 3rem;
  margin-right: 50px;
}
nav ul li {
  list-style: none;
  margin-top: 45px;
  font-family: roboto;
  font-weight: 100;
  font-size: 0.9rem;
}
nav ul li i {
  color: rgb(241, 239, 239);
  padding-left: 20px;
  font-size: 1rem;
}

nav#second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
nav#second ul li {
  font-size: 1.2rem;
  width: 90%;
  -webkit-text-decoration: underline 1px rgb(245, 239, 239);
          text-decoration: underline 1px rgb(245, 239, 239);
  text-underline-offset: 15px;
}

section#store .discover-store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background: rgb(241, 239, 239);
}
section#store .discover-store .store-left {
  text-align: center;
  border: dashed 1px;
  color: rgba(192, 115, 43, 0.603);
  margin: 20px;
}
section#store .discover-store .store-left h3 {
  font-family: allura;
  font-size: 2.3rem;
  font-weight: 500;
  color: rgba(192, 115, 43, 0.603);
  margin-top: 40px;
}
section#store .discover-store .store-left h4#store {
  margin-top: -15px;
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}
section#store .discover-store .store-left img#couvert2 {
  margin-top: 35px;
  height: 35px;
}
section#store .discover-store .store-left p {
  font-size: 1.2rem;
  line-height: 25px;
  color: rgb(15, 15, 15);
  font-family: roboto;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
section#store .discover-store .store-left .chef img {
  border-radius: 100px;
  height: 90px;
  margin-top: 30px;
}
section#store .discover-store .store-left .chef h4#russel {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: poppins;
  color: rgb(15, 15, 15);
}
section#store .discover-store .store-left .chef p {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(138, 137, 137, 0.493);
}
section#store .discover-store .store-right {
  background: url(/Assets/img/store-01.jpg);
  background-position: center;
}

section#discover .top-discover {
  background-color: rgba(14, 13, 13, 0.87);
  height: 490px;
  text-align: center;
  position: relative;
}
section#discover .top-discover h5 {
  padding-top: 50px;
  font-family: allura;
  font-size: 2.5rem;
  color: rgba(192, 115, 43, 0.603);
  font-weight: 100;
  padding-bottom: 50px;
}
section#discover .top-discover img#plate2 {
  height: 40px;
}
section#discover .back-container {
  background: url(/Assets/img/bg-menu-01.jpg);
}
section#discover .back-container .food-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: white;
  width: 52%;
  margin: 0 auto;
}
section#discover .back-container .food-container .italian {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  width: 90%;
  margin: auto;
  height: 205px;
  border-bottom: dashed 1px;
}
section#discover .back-container .food-container .italian .left-it {
  width: 25%;
}
section#discover .back-container .food-container .italian .left-it img {
  border-radius: 100px;
  height: 112px;
  margin-top: 55px;
}
section#discover .back-container .food-container .italian .right-it {
  width: 85%;
  margin-top: 78px;
  margin-left: 10px;
}
section#discover .back-container .food-container .italian h6 {
  font-size: 1rem;
  font-family: roboto;
  text-transform: uppercase;
}
section#discover .back-container .food-container .italian p#recipe {
  margin-top: 8px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 100;
}
section#discover .back-container .food-container .price {
  margin-top: 100px;
  margin-left: 12px;
  font-size: 1.5rem;
  width: 100%;
  font-family: roboto;
  font-weight: 700;
  color: rgba(192, 115, 43, 0.603);
}/*# sourceMappingURL=index.css.map */