.slider{
    width: 100%;
    height: 99vh;
    animation: animate 20s ease-in-out infinite;
    background-repeat: no-repeat;


@keyframes animate  {

    0%,100%{
        background:url(/Assets/img/bg-slider-01.jpg) ;
        background-repeat: no-repeat;
        background-size: cover ;
    
         
    }
    33% {
        background: url(/Assets/img/bg-slider-05.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
       
    }
    66%{
        background: url(/Assets/img/bg-slider-06.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
       
    }
   
    
}
@media screen and (max-width: 1050px){
    @keyframes animate  {
     
     0%,100%{
         background:url(/Assets/img/bg-slider-06.jpg) ;
         background-position: center;
         background-size: cover ;
         background-repeat: no-repeat;
     
          
     } 
     
 }
        
           
            
            }
 }

